/*Font fonts to apply to site*/
body {font-family: Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
html, body {
	/*background: #F24308; /* Beccapurple */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
.waffles{
    position: sticky;
}
div.bottom
        {
            height: 200px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;

            margin-bottom: none;
            border-top: 10px /*solid #00ccff;*/
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
           /* background-color: #575757;*/
        }
.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}
#home-banner{
	 text-align: center;
	 padding: 30px;
}
.col-md-4{
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.blog-post-item{
	border: 1px solid gray;
	margin: 1px;
	text-align: center;
	float: left;
	width: 25%;
}
.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 30px;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}